$classicLightGrey: #464646;

.chat-container {
  height: 100%;
  flex: 1;

  .chat-view {
    height: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    overflow-y: scroll;
  }

  .respondent-view {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #efefef;
    background-color: #505050;
    border-top: 1px solid $classicLightGrey;

    &__avatar {
      width: 35px;
      border-radius: 50%;
      padding: 3px;
      margin: 0 5px;
    }

    &__link {
      @media (max-width: 575.98px) {
        position: absolute;
        left: 5px;
        color: #9d9d9d;
        font-size: 13px;
      }
      @media (min-width: 576px) {
        display: none;
      }
    }
  }
}
