.favorite-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 10px 40px;
}

.common-sort-block {
  display: flex;
  min-width: 210px;
  background-color: #f9fdfe;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 1em 1.5em;
  border: solid 1px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  &__item {
    flex: 1;
    margin: 0 10px;
    //display: flex;
    //justify-content: space-evenly;
  }
}
