.message-layer {
  display: flex;
  margin-top: 10px;

  &__avatar {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    border: 2px solid;
    background-size: contain;
    margin: 0 10px;
  }

  &__box {
    display: inline-block;
  }

  &.currentMember {
    flex-direction: row-reverse;
    text-align: right;
  }

  &__date-info {
    color: gray;
    font-size: 10px;
    padding-right: 10px;
  }

  &__sender-info {
    display: block;
    color: gray;
    font-size: 11px;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 4px;
  }

  &__message {
    display: inline-block;
    max-width: 400px;
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 0;
  }
}
