.input-layer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 15px solid #828282;
  background-color: #efefef;

  @media screen and (max-height: 768px) {
    padding: 12px 10px;
  }

  @media all and (min-height: 769px) {
    padding: 10px 35px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 17px;

    &._dark {
      border-color: #333333;
    }
  }
}
