.movie-card-container {
  display: block;
  margin: 0 0 10px 10px;
  position: relative;
  -webkit-background-clip: padding-box;

  &:last-child {
    margin-right: 0;
  }

  .movie-card {

    .bg-image {
      height: 135px;
      width: 100px;
      background: no-repeat top;
      background-size: cover;
    }

    &__button {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(93, 93, 93, 0.7);
      border: none;
      padding: 0;

      &._plus::after {
        content: "+";
        color: white;
        width: 30px;
        height: 30px;
        font-size: 25px;
      }

      &._cross {
        &::after {
          content: "✗";
          color: #333333;
          width: 25px;
          height: 25px;
          font-size: 21px;
        }
        &:hover {
          background-color: #ff6b9d;
        }
      }

      &::after {
        display: inline-block;
        line-height: 25px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .movie-info a {
    color: #333333;
    text-decoration: none;
  }
}
