@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.registration-container {
  width: 360px;
  padding:5% 0 0;
  margin: auto;
}

.registration-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  .message {
    color: grey;
    margin-bottom: 5px;
    font-size: 12px;

    span {
      color: #2f4e6f;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

