.favorite-user {
  height: 100%;
  background-color: #f9fdfe;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  @media (max-width: 575.98px) {
    display: flex;
    width: 85vw;
    margin-bottom: 1vh;
    padding: 5px;
  }

  @media (min-width: 576px) {
    min-width: 190px;
    padding: 10px 0 6px;
    margin: 12px 2px;
  }

  //&::before {
  //  content: "\2605";
  //  position: absolute;
  //  color: #f1f1f1;
  //  left: 10px;
  //}

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > div {
      flex: 1;
    }
  }

  & a {
    text-decoration: none;
  }

  .general-info {
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 2px 0 5px;
  }

  .location-info {
    font-size: 14px;

    &__country {
      margin-right: 5px;
      color: #8a8a8a;
      font-weight: 500;
    }

    &__city {
      color: #4a4b4e;
    }
  }
}
