.user-avatar {
  width: 33px;
  height: 33px;
  border: 2px solid white;
  box-sizing: border-box;
  margin-right: 10px;

  &:hover {
    border-color: #00e3a6;
    cursor: pointer;
  }

  &._rounded {
    border-radius: 50%;
  }
}
