$defaultGreyColor: #828282;
$defaultColorOnHover: #00e3a6;
$avatarMiddleSize: 130px;
$avatarMiniSize: 33px;

.avatar {
  position: relative;

  &:hover {
    .user-avatar_middle {
      opacity: 0.7;
    }
  }

  .user-avatar {
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    &_middle {
      width: $avatarMiddleSize;
      height: $avatarMiddleSize;
      border: 1px solid $defaultGreyColor;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    &_mini {
      width: $avatarMiniSize;
      height: $avatarMiniSize;
      border: 2px solid white;
      margin-right: 10px;

      &:hover {
        border-color: $defaultColorOnHover;
      }
    }

    &_rounded {
      border-radius: 50%;
    }
  }
}




