
.app {
  height: 100%;
  color: #494a4d;
  text-align: center;
  overflow: auto; //?
  //font-family: 'Georgia', serif;

  .main-layer {
    //background-color: #FBFEF9;
    // overflow: auto; //?
    height: auto;
  }
}

